:root {
    --color-pri: #003566;
    --color-sec: #e2a600;
    --color-ter: #f3b303;
}


.font-1 {
    font-family: 'Maven Pro', sans-serif;
}

.font-2 {
    font-family: 'Merienda One', cursive;
}

.font-3{
    font-family: 'Dancing Script', cursive;
}

h2, h4 {
    color: var(--color-sec);
}

.price{
    color: var(--color-sec);
}

em{
    color: var(--color-sec);
    font-style: normal;
}

.color-icons {
    color: #e28000;
}

.color-cit {
    color: var(--color-sec);
}

/* BOTTONE A SCORRIMENTO */
.position-button {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.position-button-menu {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.position-button-category {
    position: fixed;
    bottom: 110px;
    right: 20px;
}

.button-circle {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-ter);
    border-radius: 50%;
    background: var(--color-ter);
    transition: all 0.5s;
}

/* .button-circle:hover {
    background-color: #e2a600ad;
    border: 2px solid #e28000;
    transform: scale(1.1);
} */

.button-circle-cat {
    
    width: 50px;
    height: 50px;
    border: 2px solid var(--color-ter);
    border-radius: 50%;
    background: var(--color-ter);
    transition: all 0.5s;
}

.list-cat {
    position: absolute;
    color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;
}

.arrow {
    position: absolute;
    color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s;
}

/* .button-circle:hover .arrow {
    color: whitesmoke;
} */

/*NAVBAR*/
.p-navbar {
    background-color: var(--color-pri);
    padding: 13px 0px;
    transition: all 0.5s;    
    margin-right: 350px;
    margin-left: 350px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 5px;   
    border-bottom-right-radius: 80px;  
} 

.scrolled {
    background-color: #003566de;
    padding: 5px 0px;
    margin: 0;
    border-radius: 0%;           
} 

.scrolled .navbar-nav {
    margin-right: 50px !important;
}

.p-navbar .nav-link {
    padding: 0px 20px !important;
    transition: all 0.5s;
}

/* .nav-link:hover {
    transform: scale(1.1);
} */

.p-navbar .nav-link {
    color: white;
}

.p-navbar .nav-link:hover {
    color: var(--color-sec);
}

.logo {
    width: 250px; 
    margin-left: 60px;  
    transition: 1s;     
}

.scrolled .logo {
    margin-right: 100px !important;
    margin-left: 0 !important;
}

.btn-navbar{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #e2a600;
}

/*margin*/
.margin-top {
    margin-top: 25%;
}
.margin-top1 {
    margin-top: 9%;
}

/*HEADER*/
.header {
    width: 100%;
    height: 100vh;
    overflow: hidden;    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/photo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 30s infinite;
    background-attachment: fixed;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-align: center;
}

.content img {
    width: 600px;
}

/* .scroll-down{
    position: absolute;
    top: 110%;
    bottom: 5rem;
    left: 50%;
    transform: translateY(-50%);    
}

.mouse{
    width: 2.5rem;
    height: 5rem;
    border: 2px solid var(--color-sec);
    border-radius: 2rem;
    display: flex;
}

.mouse span {
    width: 1rem;
    height: 1rem;
    background: var(--color-sec);
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}

@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-1rem);        
    }

    100% {
        opacity: 1;
        transform: translateY(1rem);        
    }
} */

/*CONTATTI*/
.header-contatti {
    width: 100%;
    height: 60vh;
    overflow: hidden;    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/photo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 30s infinite;
    /* background-attachment: fixed; */
}

.content-contatti {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    text-align: center;
}

.icon i{
    color: var(--color-sec);
}

/* .bg-header-reservation {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/bg_header_res.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    position: relative;
} */

/* @keyframes slide {
    0%{
        background-image: url(/img/photo.jpeg);
    }
    33%{
        background-image: url(/img/photo2.jpg);
    }
    67%{
        background-image: url(/img/photo3.jpg);
    }
} */

/*SECTION CHI SIAMO*/
.section-title {
    position: relative;
    display: inline-block;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--color-sec);
}

/* MENU' */
.bg-menu {
    background-color: rgba(248, 248, 248, 0.938);
}

.btn-click {
    border: none;
    background-color: transparent !important;
    border-bottom: 3px solid transparent;
}

.border-top {
    border-top: 1px solid rgb(184, 184, 184);
}

.border-right {
    border-right: 1px solid rgb(184, 184, 184);
}

/* .menu-special {
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.menu-special:before {
    position: absolute;
    font-size: 150px;
    left: 5%;
    margin: 0;
    content: 'Menù';
    line-height: 1;
    top: 35%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.05);
    font-weight: 700;
} */

/*CARD SERVICES*/
/* .card-services {
    width: 280px;
    height: 250px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 10%);
    transition: all 0.7s;    
}

a {
    text-decoration: none;
}

.card-services:hover {
    background-color: var(--color-ter);
}

.card-services i {
    color: var(--color-ter);    
}

.card-services h5 {
    color: black
}

.card-services p {
    color: rgb(128, 128, 128)   
}

.card-services:hover i{
    color: white;
    transition: all 0.7s;
}

.card-services:hover h5{
    color: white;
    transition: all 0.7s;
}

.card-services:hover p{
    color: white;
    transition: all 0.7s;
} */

/* SEZIONE SPECIAL */
.card-special {
    overflow: hidden;
    width: 516px;
    height: 300px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-special img {
    overflow: hidden;
    width: 100%;
}

.card-special img {
    transition: 0.5s;
}

.card-special img:hover {
    transform: scale(1.1);
}

.link {
    color: black;
    transition: all 0.5s;
}

.link:hover {
    color: black;
}

#arrow {
    transition: 0.3s;
}

#arrow1 {
    transition: 0.3s;
}

#arrow2 {
    transition: 0.3s;
}

/*RESERVATION*/
.bg-reservation {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/bonujefuori1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;  
    background-attachment: fixed; 
     
}

/* .button-reservation {
    text-decoration: none !important;
    color: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-transform: uppercase;
    background: linear-gradient(120deg, #2364AA, #3DA5D9, #73BFB8, #FEC601, #EA7317);
    background-size: 200%;
    background-position: 0px 0px;
    transition: 1s;
}

.button-reservation:hover {
    background-position: 100% 0px;
    color: white;
    border: 1px solid #d3d3d3;
} */

 
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

/* button {
    margin: 20px;
    outline: none;
} */

.custom-btn {
    width: 200px;
    height: 60px;
    padding: 10px 25px;
    border: 2px solid var(--color-sec);
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}


.btn-11 {
    overflow: hidden;
    transition: all 0.3s ease;
    color: var(--color-sec);
}

.btn-11:hover {
     background: var(--color-sec);
    color: black;
}

.btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
  

@-webkit-keyframes shiny-btn1 {
      0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
      80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
      81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
      100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

  

/*FOOTER*/
.btn-lg {
    border-radius: 50% !important;
}

.bg-footer{
    background-color: var(--color-pri);
}

.btn-outline-light {
    border-radius: 50%;
    background-color: white;
    color: var(--color-pri);
}

/*LOGIN*/
.circle-login {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    /* margin-left: 250px; */
    
}

/*MODAL*/
.modal-content{
    background-color: #003566a8 !important;
}

/* PROMO */

.cont-promo {
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative; 
    position: absolute;   
    right: 950px; 
    top: 450px;
}

.button-promo {
    position: relative;
    padding: 60px 60px;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 30%);
    background-color: chocolate;
    z-index: 1;
    animation-name: pulseButton;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.button-promo h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.description-promo {
    position: absolute;
    padding: 24px 30px 24px 130px;
    border: 1px solid transparent;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 30%);
    background-color: white;
    z-index: 0;
    opacity: 0;
    transition: all 0.4s;
    transform: translateX(-100px);
    width: 550px;
}

.description-promo .promo-text {
    top: 50%;
    left: 50%;    
}

.description-promo .promo-text h4 {
    font-size: 23px;
}

@keyframes pulseButton {
    0% {transform: scale(1.0);}
    25% {transform: scale(1.1);}
    50% {transform: scale(1.0);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}



/*MEDIA QUERY*/
@media screen and (max-width: 768px) {
    .border-right {
        border-right: none;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        margin-left: 0 !important;
    }

    .card-special {
        overflow: hidden;
        width: 400px;
        height: 200px;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1200px) {
    .card-special {
        overflow: hidden;
        width: 516px;
        height: 260px;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 1559px) {
    .p-navbar {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
    }
}

@media screen and (max-width: 767px) {
    .bg-reservation {
        height: 85vh;
    }

    .order-resp-1 {
        order: 1;
    }

    .order-resp-2 {
        order: 2;
    }
}

@media screen and (max-width: 600px) {
    .content img {
        width: 450px;
    }
}

@media screen and (max-width: 472px) {
    .text-responsive{
        font-size: 15px;
    }
}

@media screen and (max-width: 456px) {
    .card-special {
        overflow: hidden;
        width: 380px;
        height: 180px;
        border: 1px solid transparent;
        box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 15%);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 442px) {
    .content img {
        width: 300px;
    }
}

@media screen and (max-width: 434px) {
    .logo {
        width: 150px;
    }

    .bg-reservation{
        height: 750px;
    }
}

/*MEDIAQUERY PROMO*/
@media screen and (max-width: 1570px) {
    .cont-promo {
        right: 900px;
    }
}

@media screen and (max-width: 1484px) {
    .cont-promo {
        right: 850px;
    }
}

@media screen and (max-width: 1394px) {
    .cont-promo {
        right: 800px;
    }
}

@media screen and (max-width: 1280px) {
    .cont-promo {
        right: 750px;
    }
}

@media screen and (max-width: 1190px) {
    .cont-promo {
        right: 700px;
    }
}

@media screen and (max-width: 1078px) {
    .cont-promo {
        right: 650px;
    }
}

@media screen and (max-width: 974px) {
    .cont-promo {
        right: 600px;
    }
}

@media screen and (max-width: 872px) {
    .cont-promo {
        right: 550px;
    }
}

@media screen and (max-width: 770px) {
    .cont-promo {
        right: 500px;
    }
}

@media screen and (max-width: 674px) {
    .cont-promo {
        right: 50px;
        width: 550px;
    }
}

@media screen and (max-width: 630px) {
    .cont-promo {
        right: 400px;
        width: 200px;
    }
}

@media screen and (max-width: 610px) {
    .cont-promo {
        right: 350px;
        
    }

    .button-promo{
        padding: 55px 55px;
    }

    .description-promo{
        width: 500px;
        padding: 18px 30px 24px 100px;
    }
}

@media screen and (max-width: 600px) {
    .cont-promo {
        right: 300px;
        top: 400px;
    }

    .button-promo{
        padding: 55px 55px;
    }

    .description-promo{
        width: 500px;
        padding: 19px 30px 19px 100px;
    }
}

@media screen and (max-width: 570px) {
    .cont-promo {
        right: 270px;
        top: 400px;
    }

    .button-promo{
        padding: 55px 55px;
    }

    .description-promo{
        width: 500px;
        padding: 19px 30px 19px 100px;
    }
}

@media screen and (max-width: 537px) {
    .cont-promo {
        right: 260px;
        top: 400px;
    }

    .button-promo{
        padding: 55px 55px;
    }

    .description-promo{
        width: 450px;
        padding: 22px 30px 22px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .cont-promo {
        right: 250px;
        top: 400px;
    }

    .button-promo{
        padding: 55px 55px;
    }

    .description-promo{
        width: 450px;
        padding: 22px 30px 22px 110px;
    }
}

@media screen and (max-width: 465px) {
    .cont-promo {
        right: 240px;
        top: 400px;
    }

    .button-promo{
        padding: 45px 45px;
    }

    .description-promo{
        width: 430px;
        padding: 14px 15px 14px 110px;
    }
}

@media screen and (max-width: 458px) {
    .cont-promo {
        right: 230px;
        top: 400px;
    }

    .button-promo{
        padding: 45px 45px;
    }

    .description-promo{
        width: 420px;
        padding: 13px 15px 13px 110px;
    }

    .description-promo .promo-text h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .cont-promo {
        right: 230px;
        top: 400px;
    }

    .button-promo{
        padding: 45px 45px;
    }

    .description-promo{
        width: 400px;
        padding: 13px 15px 13px 110px;
    }

    .description-promo .promo-text h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 442px) {
    .cont-promo {
        right: 150px;
        top: 360px;
    }

    .button-promo{
        padding: 45px 45px;
    }

    .description-promo{
        width: 410px;
        padding: 13px 15px 13px 110px;
    }

    .description-promo .promo-text h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 434px) {
    .cont-promo {
        right: 150px;
        top: 360px;
    }

    .button-promo{
        padding: 45px 45px;
    }

    .description-promo{
        width: 400px;
        padding: 13px 15px 13px 110px;
    }

    .description-promo .promo-text h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .cont-promo {
        right: 140px;
        top: 340px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 380px;
        padding: 12px 15px 12px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 400px) {
    .cont-promo {
        right: 130px;
        top: 340px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 370px;
        padding: 12px 15px 12px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 395px) {
    .cont-promo {
        right: 130px;
        top: 340px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 360px;
        padding: 12px 15px 12px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 390px) {
    .cont-promo {
        right: 120px;
        top: 330px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 350px;
        padding: 12px 15px 12px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 380px) {
    .cont-promo {
        right: 120px;
        top: 330px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 350px;
        padding: 12px 15px 12px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 375px) {
    .cont-promo {
        right: 120px;
        top: 310px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 345px;
        padding: 12px 15px 12px 100px;
    }

    .description-promo .promo-text h4{
        font-size: 17px;
    }
}

@media screen and (max-width: 360px) {
    .cont-promo {
        right: 110px;
        top: 310px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 320px;
        padding: 13px 15px 13px 90px;
    }

    .description-promo .promo-text h4{
        font-size: 16px;
    }
}

@media screen and (max-width: 345px) {
    .cont-promo {
        right: 100px;
        top: 310px;
    }

    .button-promo{
        padding: 40px 40px;
    }

    .description-promo{
        width: 310px;
        padding: 14px 15px 14px 90px;
    }

    .description-promo .promo-text h4{
        font-size: 15px;
    }
}









